<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Project Firewatch</title>
            <link rel="stylesheet" href="">
            {{fullmap.js}}
	<style>
	/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
	</style>
			
    </head>
    <body>
        <h1>Project Firewatch</h1>
		<form action="https://firms.modaps.eosdis.nasa.gov/alerts/">
        {{ fullmap.html }} 

		</form>
    </body>
</html>

